fastapi
pydantic
langchain_google_genai
langchain_core
python-dotenv
uvicorn
google-cloud-storage
langchain
langchain-google-cloud-sql-pg
python-magic
sqlalchemy
streamlit
langchain_google_vertexai
sentence_transformers
scikit-learn
pandas