aiofiles
aiohappyeyeballs
aiohttp
aiosignal
alabaster
altair
annotated-types
anyio
appnope
asttokens
asyncpg
attrs
babel
backoff
beautifulsoup4
blinker
cachetools
certifi
cffi
cfgv
chardet
charset-normalizer
click
cloud-sql-python-connector
comm
cryptography
dataclasses-json
debugpy
decorator
distlib
dnspython
docstring_parser
docutils
emoji
eval_type_backport
executing
fastapi
filelock
filetype
frozenlist
fsspec
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-auth
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-core
google-cloud-resource-manager
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
greenlet
grpc-google-iam-v1
grpcio
grpcio-status
h11
html5lib
httpcore
httpx
httpx-sse
huggingface-hub
identify
idna
imagesize
ipykernel
ipython
jedi
Jinja2
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
langchain
langchain-core
langchain-google-cloud-sql-pg
langchain-google-genai
langchain-google-vertexai
langchain-text-splitters
langdetect
langsmith
lxml
markdown-it-py
MarkupSafe
marshmallow
matplotlib-inline
mdurl
mpmath
multidict
mypy-extensions
narwhals
nest-asyncio
networkx
nltk
nodeenv
numpy
olefile
orjson
packaging
pandas
parso
pexpect
pgvector
pillow
platformdirs
pre_commit
prompt_toolkit
propcache
proto-plus
protobuf
psutil
ptyprocess
pure_eval
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydeck
Pygments
pypdf
python-dateutil
python-dotenv
python-iso639
python-magic
python-oxmsg
pytz
PyYAML
pyzmq
RapidFuzz
referencing
regex
requests
requests-toolbelt
rich
roman-numerals-py
rpds-py
rsa
ruff
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
shapely
six
smmap
sniffio
snowballstemmer
soupsieve
Sphinx
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jquery
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
SQLAlchemy
stack-data
starlette
streamlit
sympy
tenacity
threadpoolctl
tokenizers
toml
torch
tornado
tqdm
traitlets
transformers
typing-inspect
typing_extensions
tzdata
unstructured
unstructured-client
urllib3
uvicorn
virtualenv
wcwidth
webencodings
wrapt
yarl
zstandard
